<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AITLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AITLibrary.Properties.Settings.DB_9AB8B7_D19ES6562ConnectionString"
            connectionString="Data Source=SQL5016.mywindowshosting.com;Initial Catalog=DB_9AB8B7_D19ES6562;Persist Security Info=True;User ID=DB_9AB8B7_D19ES6562_admin;Password=e5vQC5XV"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AITLibrary.Properties.Settings>
            <setting name="AITLibrary_userWebService_MyWebService" serializeAs="String">
                <value>http://localhost:51234/MyWebService.asmx</value>
            </setting>
            <setting name="AITLibrary_mediaWebService_WebServiceMedia" serializeAs="String">
                <value>http://localhost:51234/WebServiceMedia.asmx</value>
            </setting>
            <setting name="AITLibrary_BorrowWebServices_BorrowWebServices"
                serializeAs="String">
                <value>http://localhost:51234/BorrowWebServices.asmx</value>
            </setting>
        </AITLibrary.Properties.Settings>
    </applicationSettings>
</configuration>